{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
{{ form_start(form) }}
	
		<h1 class="h3 mb-3 font-weight-normal">Saisissez votre adresse mail</h1>
		<div class="form-group">
		{{ form_label(form.email, 'Vous recevrez un email contenant un lien pour réinitialiser votre mot de passe', {'label_attr': {'class': 'form-label mt-4'}}) }}
		{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.email) }}
	</div>
		<button class="btn btn-lg btn-primary" type="submit">
			Envoyer
		</button>
{{ form_end(form) }}
{% endblock %}
