{% extends "base.html.twig" %}

{% block body %}

	<h1>
		Inscription
	</h1>

	{{ form_start(form) }}
	<div class="form-group">
		{{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label mt-4'}}) }}
		{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.nom) }}
	</div>
	<div class="form-group">
		{{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'form-label mt-4'}}) }}
		{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.prenom) }}
	</div>
	<div class="form-group">
		{{ form_label(form.mail, 'Adresse mail', {'label_attr': {'class': 'form-label mt-4'}}) }}
		{{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.mail) }}
	</div>
	
	<div class="form-group">
		{{ form_widget(form.password)}}
		{{ form_errors(form.password) }}
	</div>

	<button type="submit" class="btn btn-primary">
		Inscription !
	</button>


	{{form_end(form)}}

{% endblock %}
