{% extends "base.html.twig" %}


{% block body %}

	<h1>
		Contactez nous
	</h1>

	{{ form_start(formContact) }}

	<div class="form-group">
		{{ form_label(formContact.mail, 'Adresse mail : ', {'label_attr': {'class': 'form-label mt-4'}}) }}
		{{ form_widget(formContact.mail, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(formContact.mail) }}
	</div>
	<div class="form-group">
		{{ form_label(formContact.objet, 'Objet : ', {'label_attr': {'class': 'form-label mt-4'}}) }}
		{{ form_widget(formContact.objet, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(formContact.objet) }}
	</div>
	<div class="form-group">
		{{ form_label(formContact.description, 'Description : ', {'label_attr': {'class': 'form-label mt-4'}}) }}
		{{ form_widget(formContact.description, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(formContact.description) }}
	</div>
	<button type="submit" class="btn btn-primary">
		Envoyer
	</button>


	{{form_end(formContact)}}

{% endblock %}
