{% extends "base.html.twig" %}


{% block body %}

	<h1>
		Contactez nous
	</h1>

	{{ form_start(form) }}
	<div class="form-group">
		{{ form_label(form.mail, 'Adresse mail : ', {'label_attr': {'class': 'form-label mt-4'}}) }}
		{{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.mail) }}
	</div>
	<div class="form-group">
		{{ form_label(form.objet, 'Objet : ', {'label_attr': {'class': 'form-label mt-4'}}) }}
		{{ form_widget(form.objet, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.objet) }}
	</div>
	<div class="form-group">
		{{ form_label(form.description, 'Description : ', {'label_attr': {'class': 'form-label mt-4'}}) }}
		{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.description) }}
	</div>
	<button type="submit" class="btn btn-primary">
		Envoyer
	</button>


	{{form_end(form)}}

{% endblock %}
