{% extends "base.html.twig" %}

{% block body %}

    {% for film in films %}
        <article>
             <h1> nombre de reservation pour le film {{ film.titre }}</h1>
                    {{ reservationByFilm[film.id] }}
            <div class="content">
                <p>{{ film.note }}</p>
                <img src="{{ asset('uploads/images/' ~ film.idImage) }}" alt="{{ film.titre }}">
            </div>
        </article>
    {% endfor %}

{% endblock %}
