{% extends "base.html.twig" %}

{% block body %}

<br>
<h4>FILMS</h4>
<br>
<div class="form-group">
{% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('film_create')}}" class="btn btn-outline-success">Créer un film</a>                  
{% endif %}
</div>

<div class="form-group">
{% if is_granted('ROLE_EMPLOYE') and not is_granted('ROLE_ADMIN') %}
{% if IsCreatable %}
<a href="{{ path('film_create')}}" class="btn btn-outline-success">Créer un film</a>  
{% endif %}
{% endif %}
</div>
     {#    <a href="{{ path('film_create_employe')}}" class="btn btn-outline-success">Créer un film</a>
{# la création d'un ce fait obligatoirement avec au moins une séance #}


<br>

<div class="form-group">
{# le film peut être modifié ( affichage d'un formulaire avec toutes les données du film ) #}
<a href="{{ path('ModifyOrDelteFilm')}}" class="btn btn-outline-primary"> Modifier/Supprimer un film</a>
<br>
</div>
<br>
<h4>SALLES</h4>
<br>
<div class="form-group">
<a href="{{ path('form_salle')}}" class="btn btn-outline-success">Créer une salles</a>
<br>
<br>
</div>
<div class="form-group">
<a href="{{ path('ModifyOrDeleteSalle')}}" class="btn btn-outline-primary">Modifier/Supprimer une salles</a><br>

</div>


<br>
<h4>AVIS</h4>
<br>
<div class="form-group">
<a href="{{ path('valideAvis')}}" class="btn btn-outline-primary">Valider un avis / supprimer un avis</a>
<br>
<br>
</div>

<div class="form-group">
{% if is_granted('ROLE_ADMIN') %}
<h4>CREATION DE COMPTE</h4>
<br>
<div class="form-group">
<a href="{{ path('security_registration_employe')}}" class="btn btn-outline-success">Créer un compte pour un employé</a>
{% endif %}
</div>
						


{% endblock %}
