{% extends "base.html.twig" %}

{% block body %}

	<article>
		<h2>
			{{ film.titre }}
		</h2>
		<div class="content">
			<h5>
				{{ film.description }}
			</h5>
			<h1> Age minimum </h1>
			<H5>
				{{ film.AgeMinimum }}
			</h5>
			<h1> Note :</h1>
			<h5>
				{{note}} / 5
			</h5>
			<img
			src="{{ asset('uploads/images/' ~ film.idImage) }}" alt="{{ film.titre }}">
		{# if personne connecté est du personnel alors l'utilisateur à un bouton qui le redirige vers le lien du film pour le modifier
		<a href="{{film_show}}" class="btn btn-primary"> </a>
		#}	 
		
			<a href="{{ path('film_reservation', {'id': film.id}) }}" class="btn btn-outline-success"> Réserver maintenant</a>
				<section id="commentaires">
				{% for avi in avis %}
				<div class="comment">
				<div class="row">
				<div class="col-3">
					{{avi.utilisateur.prenom}} {{avi.utilisateur.nom}} 
					<br>
					Note donnée : {{avi.note}} / 5
				</div>
				<div class="col">
				{{avi.description | raw }}
				</div
				</div>
				</div>
				{% endfor %}
				</section
				
				
		</article>

	{% endblock %}
