<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Cinéphoria
			{% endblock %}
		</title>



 {% block stylesheets %}
 		<link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">

    {% endblock %}
		  {% block javascripts %}
        <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
		</head>
		<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
   <a class="navbar-brand" href="{{ path('home') }}">
  <!--  <img src="/logo/logoCinephoria.png" alt="Logo" class="logo">-->
  Cinéphoria

</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">

       <li class="dropdown">
                <a href="#" class="dropbtn">Cinémas</a>
                <div class="dropdown-content">
                     <a href="{{ path('cinema_show', {'id': 1}) }}" class="btn">Cinéphoria de Nantes</a>
                            <a href="{{ path('cinema_show', {'id': 2}) }}" class="btn">Cinéphoria de Bordeaux</a>
                            <a href="{{ path('cinema_show', {'id': 3}) }}" class="btn">Cinéphoria de Paris</a>
                            <a href="{{ path('cinema_show', {'id': 4}) }}" class="btn">Cinéphoria de Toulouse</a>
                            <a href="{{ path('cinema_show', {'id': 5}) }}" class="btn">Cinéphoria de Lille</a>
             
                            <a href="{{ path('cinema_show', {'id': 6}) }}" class="btn">Cinéphoria de Charleroi</a>
                            <a href="{{ path('cinema_show', {'id': 7}) }}" class="btn">Cinéphoria de Liège</a>
                        
                </div>
            </li>


      <ul class="navbar-nav me-auto">
        <li class="nav-item">
       {% if is_granted('ROLE_CLIENT') and not is_granted('ROLE_EMPLOYE') and not is_granted('ROLE_ADMIN') %}
           <a href="{{ path('monCompte') }} " class="btn">Mon espace</a>
        {% endif %}
        </li>
        <li class="nav-item">
     <a class="btn" href="{{ path('contact') }}">Contact</a>
        </li>
        <li class="nav-item">
          {% if is_granted('ROLE_EMPLOYE') and not is_granted('ROLE_ADMIN') %}
          <a class="btn" href="{{ path('intranet') }}">Intranet</a>
          {% endif %}
        </li>

        <li class="nav-item">
          {% if is_granted('ROLE_EMPLOYE')%}
          <a class="btn" href="{{ path('dashboard') }}">Dashboard</a>
          {% endif %}
        </li>

        <li class="nav-item">
          {% if is_granted('ROLE_ADMIN') %}
          <a class="btn" href="{{ path('intranet') }}">Administration</a>
          {% endif %}
        </li>

      <li class="nav-item">
     {% if not app.user %}
      <a class="btn" href="{{ path('security_registration') }}">Inscription</a>
      <a class="btn" href="{{ path('app_login') }}">Connexion</a>
      {% else %}
      <a class="btn" href="{{ path('app_logout') }}">Déconnexion</a>
      {% endif %}
        </li>

      </ul>

    </div>
  </div>
</nav>

			<div class="container">
				{% block body %}

           <h1>Appliquer un filtre</h1>
            {{ form_start(formFilter) }}

    <div class="form-group">
		{{ form_label(formFilter.cinema, 'Cinema: ', {'label_attr': {'class': 'form-label mt-4'}}) }}
		{{ form_widget(formFilter.cinema, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(formFilter.cinema) }}
	</div>
  	<div class="form-group">
		{{ form_label(formFilter.genre, 'Genre : ', {'label_attr': {'class': 'form-label mt-4'}}) }}
		{{ form_widget(formFilter.genre, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(formFilter.genre) }}
	</div>
  	<div class="form-group">
		{{ form_label(formFilter.jour, 'Jour de la semaine : ', {'label_attr': {'class': 'form-label mt-4'}}) }}
		{{ form_widget(formFilter.jour, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(formFilter.jour) }}
	</div>


     
            {{ form_end(formFilter) }}

          {% for filmfilter in filmsFilter %}
          <article>
							<h2>
								{{ filmfilter.titre}}
							</h2>
							<div class="content">	
								<p>
									{{filmfilter.note}}
								</p>

									<img src="{{ asset('uploads/images/' ~ filmfilter.idImage) }}" alt="{{ filmfilter.titre }}">
									<a href="{{ path('film_show', {'id': filmfilter.id}) }}" class="btn btn-primary"> Sélectionner le film</a>

							</div>
						</article>
          {% endfor %}

					{% for film in films %}
						<article>
							<h2>
								{{ film.titre}}
							</h2>
							<div class="content">	
								<p>
									{{film.note}}
								</p>

									<img src="{{ asset('uploads/images/' ~ film.idImage) }}" alt="{{ film.titre }}">
									<a href="{{ path('film_show', {'id': film.id}) }}" class="btn btn-primary"> Sélectionner le film</a>

							</div>
						</article>


					{% endfor %}
{% block footer %}

<section class="">
  <!-- Footer -->
  <footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
         <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Adresse</h5>
          <ul class="list-unstyled mb-0">
		  		{% for cinema in cinemas %}
            <li>
              <a href="#" class="text-body">{{cinema.adresse}}</a>
              <br>
            </li>
					{% endfor %}
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact</h5>
          <ul class="list-unstyled mb-0">
		  		{% for cinema in cinemas %}
            <li>
              <p  class="text-body">{{cinema.GSM }}</p>
            </li>
					{% endfor %}
          </ul>
        </div>

        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Horaires</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
            <li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
            <li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
            <li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
			<li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
					
            {% endblock %}

					
				{% endblock %}
			</div>
		</body>
	</html>
</body></html>
