<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/cerulean/bootstrap.min.css" rel="stylesheet">
 {% block stylesheets %}
 		<link rel="stylesheet" href="../css/custom.css">{% endblock %}
		  {% block javascripts %}
        <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
		</head>
		<body>
 <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">CINEPHORIA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
                   <div class="collapse navbar-collapse" id="navbarColor04">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown-custom">
                        <div class="dropdown-custom-content">
						
                            <a href="{{ path('cinema_show', {'id': 1}) }}">Cinéphoria de Nantes</a>
                            <a href="{{ path('cinema_show', {'id': 2}) }}">Cinéphoria de Bordeaux</a>
                            <a href="{{ path('cinema_show', {'id': 3}) }}">Cinéphoria de Paris</a>
                            <a href="{{ path('cinema_show', {'id': 4}) }}">Cinéphoria de Toulouse</a>
                            <a href="{{ path('cinema_show', {'id': 5}) }}">Cinéphoria de Lille</a>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-header">Belgique</div>
                            <a href="{{ path('cinema_show', {'id': 6}) }}">Cinéphoria de Charleroi</a>
                            <a href="{{ path('cinema_show', {'id': 7}) }}">Cinéphoria de Liège</a>
                        </div>
                    </li>
                    {% if is_granted('ROLE_CLIENT') and not is_granted('ROLE_EMPLOYE') and not is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('monCompte') }}">Mon espace</a>
                        </li>
                       
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                    {% if is_granted('ROLE_EMPLOYE') and not is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('intranet') }}">Intranet</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_EMPLOYE')%}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('dashboard') }}">Dashboard</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('intranet') }}">Administration</a>
                        </li>
                    {% endif %}
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_registration') }}">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
			<div class="container">
				{% block body %}

					{% for film in films %}
						<article>
							<h2>
								{{ film.titre}}
							</h2>
							<div class="content">	
								<p>
									{{film.note}}
								</p>

									<img src="{{ asset('uploads/images/' ~ film.idImage) }}" alt="{{ film.titre }}">
									<a href="{{ path('film_show', {'id': film.id}) }}" class="btn btn-primary"> Sélectionner le film</a>

							</div>
						</article>


					{% endfor %}
{% block footer %}

<section class="">
  <!-- Footer -->
  <footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
         <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Adresse</h5>
          <ul class="list-unstyled mb-0">
		  		{% for cinema in cinemas %}
            <li>
              <a href="#!" class="text-body">{{cinema.adresse}}</a>
            </li>
					{% endfor %}
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact</h5>
          <ul class="list-unstyled mb-0">
		  		{% for cinema in cinemas %}
            <li>
              <p  class="text-body">{{cinema.GSM }}</p>
            </li>
					{% endfor %}
          </ul>
        </div>

        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Horaires</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
            <li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
            <li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
            <li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
			<li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
					
            {% endblock %}

					
				{% endblock %}
			</div>
		</body>
	</html>
</body></html>
