<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="../css/custom.css">
		<link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css"> {% block stylesheets %}{% endblock %}
		  {% block javascripts %}{% endblock %}
		</head>
		<body>
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{ path('home')}}">CINEPHORIA</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarColor04">
						<ul class="navbar-nav me-auto">

							<li class="nav-item">
								<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cinémas</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{{ path('cinema_show', {'id': 1}) }}">Cinéphoria de Nantes</a>
									<a class="dropdown-item" href="{{ path('cinema_show', {'id': 2}) }}">Cinéphoria de Bordeaux</a>
									<a class="dropdown-item" href="{{ path('cinema_show', {'id': 3}) }}">Cinéphoria de Paris</a>
									<a class="dropdown-item" href="{{ path('cinema_show', {'id': 4}) }}">Cinéphoria de Toulouse</a>
									<a class="dropdown-item" href="{{ path('cinema_show', {'id': 5}) }}">Cinéphoria de Lille</a>

									<div class="dropdown-divider"></div>
									<div class="dropdown-header">Belgique</div>
									<a class="dropdown-item" href="#">Cinéphoria de Charleroi</a>
									<a class="dropdown-item" href="#">Cinéphoria de Liège</a>
								</div>
							</li>
							{# Devoir creer le IsGranted pou cette route  !!#}
							{% if is_granted('ROLE_CLIENT') %}
								<li class="nav-item">
									<a class="nav-link" href="#">Réservation</a>
								</li>
							{% endif %}
							<li class="nav-item">
								<a class="nav-link" href="#">Contact</a>
							</li>
							{% if is_granted('ROLE_EMPLOYE') %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('film_create')}}">Enregistrement d'un film</a>
								</li>
							{% endif %}
							{% if not app.user %}
                            <li class="nav-item">
								<a class="nav-link" href="{{ path('security_registration')}}">Inscription</a>
							</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_login')}}">Connexion</a>
								</li>
							{% else %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_logout')}}">Déconnection</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
			<div class="container">
				{% block body %}

					{% for film in films %}
						<article>
							<h2>
								{{ film.titre}}
							</h2>
							<div class="content">
								<p>
									{{film.description}}
								</p>
								<p>
									{{film.AgeMinimum}}
								</p>
								<p>
									{{film.note}}
								</p>


								<a href="{{ path('film_show', {'id': film.id}) }}" class="btn btn-primary">
									<img src="{{ asset('uploads/images/' ~ film.idImage) }}" alt="{{ film.titre }}"></a>

							</div>
						</article>


					{% endfor %}
{% block footer %}

<section class="">
  <!-- Footer -->
  <footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
         <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Adresse</h5>
          <ul class="list-unstyled mb-0">
		  		{% for cinema in cinemas %}
            <li>
              <a href="#!" class="text-body">{{cinema.adresse}}</a>
            </li>
					{% endfor %}
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact</h5>
          <ul class="list-unstyled mb-0">
		  		{% for cinema in cinemas %}
            <li>
              <p  class="text-body">{{cinema.GSM }}</p>
            </li>
					{% endfor %}
          </ul>
        </div>

        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Horaires</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
            <li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
            <li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
            <li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
			<li>
              <p class="text-body">09 h 00 - 18 h 00</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
					
            {% endblock %}

					
				{% endblock %}
			</div>
		</body>
	</html>
</body></html>
